<form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="assessment" class="text-light">Assessment</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="assessment" value="">
        </div>
        <div class="form-group">
            <label for="Date" class="text-light">Date</label>
            <input type="text" name="date" value="">
        </div>
        <div class="form-group">
            <label for="Description" class="text-light">Description</label>
            <input type="text" name="description" value="">
        </div>
        <div class="form-group">
            <label for="Mark" class="text-light">Mark</label>
            <input type="text" name="mark" value="">
        </div>
        <div class="form-group">
            <label for="Grade" class="text-light">Grade</label>
            <input type="text" name="grade" value="">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>